@media (max-width: 768px) {
.container {
flex-direction: column;
}
}
/* Для экранов шириной от 1024рх */
@media (min-width: 1024px) {
.container {
grid-template-columns: repeat (4, 1fr);
}
}
/* Диапазон */
@media (min-width: 768px) and (max-width: 1023px) {
.container {
grid-template-columns: repeat(2, 1fr);
}
}
/* Mobile first подход (от меньшего к большему) */
/* Базовые стили для мобильных (до 576px) */
.container {
padding: 10px;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
.container {
padding: 15px;
}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
.container {
padding: 20px;
}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
.container {
padding: 25px;
}
}
@media (min-width: 1200px) {
.container{
    padding: 30px;
}
}